<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Latihan HTML, CSS, dan JavaScript</title>
    <link
      rel="stylesheet"
      href="/latihan-1-html-css-javascript/style/style.css"
    />
    <script src="/latihan-1-html-css-javascript/js/myScript.js"></script>
  </head>
  <body>
    <div>
      <ul>
        <li><a onclick="myFunction()" href="#Beranda">Beranda</a></li>
        <li><a href="#Berita">Berita</a></li>
        <li><a href="#Kontak">Kontak</a></li>
        <li><a href="#Tentang">Tentang</a></li>
      </ul>
    </div>

    <article>
      <h1 id="demo">Sekolah Pemerintahan Desa - IPB University 🚀</h1>
      <p>
        SPD merupakan sebagai upaya untuk mempercepat pembangunan di tingkat
        desa, serta untuk mengoptimalkan dalam mendiagnosa seluruh permasalahan
        yang ada di masyarakat tingkat desa.
      </p>
      <p>
        Tonggak kemajuan Kabupaten Bogor terletak pada kemajuan desa. Oleh
        karena itu sumber daya manusia aparatur desa ini mutlak untuk menjadi
        pilar utama dalam pembangunan desa.
      </p>
    </article>
    <footer>
      <p>Copyright SPD-IPB 2023</p>
    </footer>
  </body>
</html>
