<!DOCTYPE html>
<html>
  <head>
    <title>Latihan HTML, CSS, JavaScript</title>
  </head>
  <body>
    <div>
      <h1>Sekolah Pemerintahan Desa - IPB University 🚀</h1>
      <p>
        SPD merupakan sebagai upaya untuk mempercepat pembangunan di tingkat
        desa, serta untuk mengoptimalkan dalam mendiagnosa seluruh permasalahan
        yang ada di masyarakat tingkat desa.
      </p>
      <p>
        Tonggak kemajuan Kabupaten Bogor terletak pada kemajuan desa. Oleh
        karena itu sumber daya manusia aparatur desa ini mutlak untuk menjadi
        pilar utama dalam pembangunan desa.
      </p>
    </div>
  </body>
</html>
